{% extends 'core/base.html' %}
{% block content  %}
<h1>Galeria</h1>
    <hr>
    <p>Nuestra Galeria de Imagenes</p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut neque ab fugit provident cupiditate. Nostrum, mollitia officiis ratione itaque pariatur inventore delectus earum! Aliquam doloribus blanditiis architecto atque corrupti quod.
    </p>
    <hr>
    

<div class="card" style="width: 18rem;">
  <img src="https://images.cdn1.buscalibre.com/fit-in/360x360/f0/f8/f0f88eeaae651f6e3a00cb334f532d6e.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dark Souls</h5>
    <p class="card-text">El no muerto elegido,enciende
        el Ascua </p>
    <a href="#" class="btn btn-primary">Comprar</a>
  </div>
</div>



{% endblock %}