{% extends 'core/base.html' %}
{% block content  %}
<h1>Historia de Tibia</h1>
    <hr>
    <p>
        Tibia es uno de los más antiguos y de mayor éxito juego en línea multijugador masivo de categoría de juegos de rol (MMORPG) creado en Europa. En un MMORPG la gente de todo el mundo se encuentra en un mundo virtual para explorar áreas, resolver dificiles enigmas y realizar hazañas heroicas.

Durante 10 años, los jugadores han estado visitando el medieval mundo de Tibia. En la actualidad, más de 250000 jugadores de todo el mundo habitan en el continente Tibiano disfrutar de las numerosas características de juego.



Actuando como Caballeros, Paladines, Magos o Druidas, los jugadores se enfrentan con el desafío de desarrollar las habilidades de sus personajes seleccionados, el estudio de una gran variedad de áreas y peligrosas mazmorras y la interacción con otros jugadores en un nivel social y diplomática. Además de las sofisticadas herramientas de charla es sobre todo la única y mejor parte de los jugadores de disfrutar de la libertad en Tibia, que crean una enorme experiencia de juego inmersiva. [external image what_is_tibia_vocations.jpg]

Tibia se puede jugar de forma gratuita como una cuestión de principio. Sin embargo, la cuenta se puede actualizar en cualquier momento a una cuenta Premium. Algunas ventajas de las Cuentas Premium incluye el acceso a áreas especiales de juego y trajes, así como nuevas características especiales relacionadas con el juego.

Un gran equipo de ayuda, compuesto por tutores y gamemasters, se asegura de que los jugadores puedan disfrutar de Tibia. Los tutores resuelven preguntas de los jugadores inexpertos en el canal de ayuda. Los gamemasters hacer cumplir las Reglas de Tibia, con un código especial de conducta que determina lo que los jugadores se les permite hacer en el juego y lo que no.
    </p>
    <img src="https://i.blogs.es/237c92/tibia/500_333.webp" alt="foto de referencia">
    <hr>

{% endblock %}